extends layout

block content
  h1= title

  #chart

  #cheetsheet
    span Cheetsheet:
    ul
        li Hover to the dots to find the interesting tweets
        li Click the dots to see the tweets detail 

  a(href='mailto:#{mailto}') Your Feedback is highly welcome!