doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='http://code.highcharts.com/highcharts.js')
    script(src='https://rawgithub.com/highslide-software/crossing-specific-value/master/crossing-specific-value.js')
    script (src="https://rawgithub.com/ppoliani/xAxis-zero-crossing/master/xAxis-zero-crossing.js')
    script(src='/javascripts/global.js')

  body
    block content
